<h1>Book a New Reservation</h1>

<%= form_for(@reservation) do |f| %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime :time %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.integer :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% end %>

<%= link_to 'Back', restaurant_path %>

