<h2>Book a New Reservation</h2>

<%= form_for([@restaurant, @reservation]) do |f| %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :Partysize %><br />
    <%= f.number_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2> Your Reservation could not be completed because:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

<%= link_to 'Back to Listing of Restaurants', restaurants_path %>

